.darkmode {
  align-self: flex-end;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;

  &__button {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .darkmode__slider {
      background-color: #2196F3;
    }
    &:checked + .darkmode__slider:before {
      transform: translateX(20px);
    }
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    &:before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }
  }
}

.on {
  background: url("./assets/icons/toggle-on-solid.svg");
  object-fit: cover;
}

.off {
  background: url("./assets/icons/toggle-off-solid.svg");
  object-fit: cover;
}

.extension {
  padding: 0.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg,#fff,#fbfbfb);
  min-width: 250px;

  &--darkmode {
    background: linear-gradient(220deg, #555, #444);
    color: #eee;
  }

  &__heading {
    font-size: 1.25rem;
    margin: 0.5rem 0 1rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    padding: 0.5rem 0 0.25rem;
  }

  &__label {
    width: 100%;
  }

  &__input {
    outline: none;
    border-radius: .375rem;
    padding: 0.5rem;
    resize: none;
    overflow: hidden;
    margin: 0.5rem 0;
    font-family: inherit;
    color: inherit;
    width: 100%;
    &--darkmode {
      background-color: #777;
    }
  }

  &__dropdown {
    font-size: 0.7rem;
    border-radius: .375rem;
    background-color: #eee;
    border: none;
    outline: none;
    padding: 0.25rem;

    &--darkmode {
      background-color: #2196F3;
      color: #eee;
    }
  }

  &__button {
    width: 100%;
    border-radius: .375rem;
    padding: 0.375rem;
    margin: 1rem 0;
    border: none;
    background-color: #eee;
    &--darkmode {
      background-color: #2196F3;
      color: #eee;
    }
  }

  &__translation {
    margin: 0;
  }

  &__from {
    margin: 0.25rem;
    text-align: center;
    color: #555555;
    &--darkmode {
      color: #eee
    }
  }
}